# Python 101 Programing

## Variables

In [2]:
nama_barang = "sepatu"
print(nama_barang)

sepatu

## Data Types - String

In [3]:
nama_barang = 'Laptop'
tipe_barang = 'ASIK'
alamat_pengiriman = "Jl. Maju Mundur"

## Data Types - Integer

In [4]:
stock_barang = 20
barang_terjual = 950
jumlah_anak = 3

In [5]:
nilai = 10
nilai_tambahan = 10

hasil = nilai + nilai_tambahan
print(hasil)

20

## Data Types - Float

In [6]:
berat_badan = 35.7
tinggi_badan = 170.5
diskon = 0.5

In [7]:
harga = 10000
diskon = 0.5

hasil = harga * diskon
print(hasil)

5000.0

## Data Types - Boolean

In [8]:
user_active = True
married_status = False
ready_to_skip = True

## Data Types - List

In [10]:
warna = ["merah", "biru", "kuning"]
weight_history = [25.9, 28.1, 30.0, 32.4]
random = [1, "aku", 34.8, '$', False]

# get specific item
warna[1]

'biru'

## Data Types - Dictionary

In [13]:
identitas = {"nama": "Ardhi",
             "umur": 31,
             "jenis_kelamin": "Pria"}
product_detail = {"nama": "Asis ROG",
                  "type": "ASIK",
                  "diskon": 0.2,
                  "harga": 250000.0}
mawar = {"tersedia": True,
         "warna":["merah","putih"]}

# get specific item (using key)
identitas['umur']

31

## Data Types - Tuple

In [14]:
jenis_lagu = ("pop","rock","dangdut")
penyanyi = ("Awin Fals", 33, "Album Kenangan")
random = (22.3, "gunting", True, 0)

# get specific item
jenis_lagu[2]

'dangdut'

## Data Types - None

In [15]:
resep_obat = None
mata_kuliah = None
status_karyawan = None

## Conditionals

In [16]:
nilai = 1
if nilai == 1:
    print("ini adalah angka satu")

ini adalah angka satu

In [17]:
nilai = 2
if nilai == 1:
    # kode dibawah ini akan di eksekusi
    # jika nilainya adalah 1
    print("ini adalah angka satu")
else:
    # kode dibawah ini akan di eksekusi
    # jika nilainya bukan 1
    print("ini bukanlah 1")

ini bukanlah 1

In [18]:
nilai = 2
if nilai == 1:
    # kode dibawah ini akan di eksekusi
    # jika nilainya adalah 1
    print("ini adalah angka satu")
elif nilai == 2:
    # kode dibawah ini akan di eksekusi
    # jika nilainya adalah 2
    print("ini adalah angka dua")
else:
    # kode dibawah ini akan di eksekusi
    # jika nilainya bukan 1
    print("ini bukanlah angka 1 atau 2")

ini adalah angka dua

## Indentation

In [19]:
nama = "Budi"
if nama == "Budi":
    print("Halo")
    print("Nama saya" + nama)

Halo
Nama sayaBudi

## Comment

In [20]:
# kode dibawah ini adalah untuk menghitung 10 * 2
perkalian = 10 * 2
print(perkalian)

'''
Komentar
'''

# print('Halo')
print("Nama saya Budi")

20
Nama saya Budi

## Type Casting

In [21]:
# integer
harga = 1000

# built in function : function bawaan dr Python
# ubah menjadi float
harga_float = float(harga)
print(harga_float)
print(type(harga_float))

# ubah menjadi string
harga_str = str(harga)
print(harga_str)
print(type(harga_str))

1000.0
<class 'float'>
1000
<class 'str'>

## Exception

In [22]:
nilai = "20.4"
try:
    hitung = 10 + nilai
    print(hitung)
except Exception as e:
    print(e)

unsupported operand type(s) for +: 'int' and 'str'

## Built-in Function

In [23]:
# len : untuk menghitung jumlah panjangnya suatu value
warna = ["merah", "biru", "kuning"]
len(warna)

# min : untuk mengambil nilai terkecil
nilai_rapor = [22.0, 32.4, 37.3]
min(nilai_rapor)

# print : untuk menampilkan value
print("Halo, saya Budi")

Halo, saya Budi

## Function

In [27]:
def tampilkan_teks(input_text):
    print(input_text)


input_text = "Hallo nama saya Budi"
tampilkan_teks(input_text)

example = "Hallo nama saya Sadi"
tampilkan_teks(example)

Hallo nama saya Budi
Hallo nama saya Sadi

## Import Packages

In [ ]:
import wget

url = 'https://sample.videos.com/csv/Sample-Spreadsheet-10-rows.csv'
download = wget.download(url)

## Loop

### While Loop

In [30]:
# While loop akan dilakukan selama kondisinya memenuhi (True)

count = 1
while (count < 4):
    print("The count is: ", count)
    count = count + 1

print("selesai")

The count is:  1
The count is:  2
The count is:  3
selesai

### For Loop

In [31]:
# For loop digunakan untuk mengulang sebuah item/ urutan apapun

angka = [1, 2, 3, 4, 5]

for x in angka:
    print(x)

1
2
3
4
5

## Example Data Engineering Task

- Implementasi ETL dalam code Python
- Extract CSV file -> Transformasi (Data Cleaning) -> Load ke folder data-warehouse

In [33]:
import pandas as pd

In [47]:
df = pd.read_csv('https://raw.githubusercontent.com/nzlul03/data_engineer_nongki_repo/main/programming_python/sources/sales_data.csv')

In [46]:
df.head()

,country,type,channel,priority,date,id,units_sold,unit_price
0,Tuvalu,Baby Food,Offline,H,2010-05-28,669165933,9925.0,255.28
1,Grenada,Cereal,Online,C,2012-08-22,963881480,NaN,205.70
2,Russia,NaN,Offline,L,2014-05-02,341417157,1779.0,651.21
3,Sao Tome and Principe,Fruits,Online,C,2014-06-20,514321792,8102.0,9.33
4,Rwanda,Office Supplies,Offline,L,NaN,115456712,5062.0,651.21

In [50]:
df[df["type"]=='Personal Care']

,country,type,channel,priority,date,id,units_sold,unit_price
8,Republic of the Congo,Personal Care,Offline,M,2015-07-14,770463311,6070.0,81.73
14,Mongolia,Personal Care,Offline,C,2014-02-19,832401311,4901.0,81.73
24,Moldova,Personal Care,Online,L,2016-05-07,740147912,5070.0,81.73
31,South Sudan,Personal Care,Offline,C,2013-12-29,406502997,2125.0,81.73
35,Costa Rica,Personal Care,Offline,L,2017-05-08,456767165,6409.0,81.73
40,Niger,Personal Care,Online,H,2017-03-11,699285638,3015.0,81.73
47,Switzerland,Personal Care,Online,M,2010-12-23,617667090,273.0,81.73
66,Gabon,Personal Care,Offline,L,2012-07-08,228944623,8656.0,81.73
85,Mexico,Personal Care,Offline,L,2012-02-17,430915820,6422.0,81.73
98,Mexico,Personal Care,Offline,M,2015-07-30,559427106,5767.0,81.73
101,Mexico,Personal Care,Offline,M,2015-07-30,559427106,5767.0,81.73

In [49]:
# show missing value
df[df.isna().any(axis=1)]

,country,type,channel,priority,date,id,units_sold,unit_price
1,Grenada,Cereal,Online,C,2012-08-22,963881480,NaN,205.70
2,Russia,NaN,Offline,L,2014-05-02,341417157,1779.0,651.21
4,Rwanda,Office Supplies,Offline,L,NaN,115456712,5062.0,651.21
5,NaN,Baby Food,Online,C,2015-02-04,547995746,2974.0,255.28

In [51]:
# drop missing value
df = df.dropna()

# show missing value after drop
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [country, type, channel, priority, date, id, units_sold, unit_price]
Index: []

In [52]:
# check unique column type
df['type'].unique()

array(['Baby Food', 'Fruits', 'Household', 'Vegetables', 'Personal Care',
       'Cereal', 'Clothes', 'Cosmetics', 'Beverages', 'Meat', 'Snacks',
       'Frutis', 'Office Supplies'], dtype=object)

In [54]:
# replace Frutis to Fruits (type)
df.loc[df['type']=="Frutis", "type"] = "Fruits"

# check unique column type
df['type'].unique()

array(['Baby Food', 'Fruits', 'Household', 'Vegetables', 'Personal Care',
       'Cereal', 'Clothes', 'Cosmetics', 'Beverages', 'Meat', 'Snacks',
       'Office Supplies'], dtype=object)

In [55]:
# duplicate data
df[df.duplicated()]

,country,type,channel,priority,date,id,units_sold,unit_price
101,Mexico,Personal Care,Offline,M,2015-07-30,559427106,5767.0,81.73

In [58]:
# check record yang duplicate

df[df["id"]==559427106]

,country,type,channel,priority,date,id,units_sold,unit_price
98,Mexico,Personal Care,Offline,M,2015-07-30,559427106,5767.0,81.73
101,Mexico,Personal Care,Offline,M,2015-07-30,559427106,5767.0,81.73

In [61]:
# drop duplicate
df = df.drop_duplicates()

# duplicate data again
df[df.duplicated()]

Empty DataFrame
Columns: [country, type, channel, priority, date, id, units_sold, unit_price]
Index: []

In [62]:
df.to_csv('data-warehouse/sales_data_cleaned.csv', index=False)